name: Check Lua Formatting

on:
  push:
    branches: [ master ]
  pull_request:
  workflow_dispatch:

jobs:
  stylua-check:
    name: Stylua Check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: JohnnyMorganz/stylua-action@v3
        with:
          version: latest
          args: --check .
